.UserTextarea{
    margin-top: 10px;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    width: 80%;
}
.UserTextarea_tittle{
    font-size: 42px;
}

.UserTextarea_input {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 80px;
    border: 0;
    background-color: #E6EEEA;
    color: #B0B8C2;
    text-align: start;
}

.UserTextarea_button {
    align-self: flex-end;
    height: 50px;
    width: 150px;
    color: white;
    padding-left: 26px;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
    background-color: #13CE66;
}
